html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}
:root {
  --back: hsl(283, 10%, 20%);
  --back-2: hsl(283, 12%, 25%);
  --back-3: hsl(283, 14%, 32%);
  --back-4: hsl(283, 16%, 43%);
  --rad: 0.5rem;
  --text: hsl(0, 0%, 90%);
}

body {
  display: flex;
  background-color: var(--back);

  color: var(--text);
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
  font-family: Verdana, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-weight: normal;
}

a {
  color: rgb(193, 224, 255);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(149, 190, 230);
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}
